<custombike index="index" fork-color = "forkColor" frame-color="frameColor"
seat-color='seatColor' handle-color="handleColor" frame-decal-color='frameDecalColor'></custombike>


<div class="row">
<div class="small-6 column"><button colorpicker type="button" colorpicker-position="top" ng-model="forkColor">Change Color of Fork</button></div>
<div class="small-6 column"><button colorpicker type="button" colorpicker-position="top" ng-model="frameColor">Change Color of Frame</button></div>
</div>
<div class="row">
<div class="small-6 column"><button colorpicker type="button" colorpicker-position="top" ng-model="seatColor">Change Color of Seat</button></div>
<div class="small-6 column"><button colorpicker type="button" colorpicker-position="top" ng-model="handleColor">Change Color of Handle</button></div>
</div>
<div class="row">
<div class="small-6 column"><button colorpicker type="button" colorpicker-position="top" ng-model="frameDecalColor">Change Color of Frame Decal</button></div>
<div class="small-6 column"><button type="button" ng-click="addToCart()">Add to Cart</button></div>
</div>
