<h1>{{title}}</h1>
<div class="row">
  <tabset>
    <div class="small-6 column">
  <tab heading="List">
    <div class="row" ng-repeat="item in items">
          <div class="small-4 column">
            <img ng-src="{{item.photo}}?{{$index}}" class="md-avatar" alt="{{item.name}}" />
	  </div>
          <div class="small-2 column">{{ item.name }}
	  </div>
	  <div class="small-2 column">{{ item.price }}</div>
	  <div class="small-2 column">{{ item.when }}</div>
	  <div class="small-2 column">
            <button type="button" name="Add To Cart" ng-click="addToCart($event, item)">Add To Cart</button>
	  </div>
    </div>
  </tab>
    </div>
    <div class="small-6 column">
  <tab heading="Grid">
    <ul class="small-block-grid-3">
	<li ng-repeat="item in items">
	  <img ng-src="{{item.photo}}?{{$index}}" class="md-avatar" alt="{{item.who}}" />
	  <h3>{{item.name}}</h3>
	  <h3>{{item.price}}</h3>
	  <button type="button" name="Add To Cart" ng-click="addToCart($event, item)">Add To Cart</button>
	</li>
    </ul>
  </tab>
    </div>

</tabset>
</div>
