<style>
div{
  display: table;
}
span{
  vertical-align: middle;
  display: table-cell;
}
.button {
  display: inline-block;
  border-radius: 4px;
  background-color: #f7d18f;
  border: none;
  color: rgba(218, 75, 29, 0.83);
  text-align: center;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '»';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}
</style>


<div class="w3-content w3-section" style="max-width:100%">
    <img class="mySlides w3-animate-top" src="assets/1.gif" style="width:100%">
    <img class="mySlides w3-animate-bottom" src="assets/2.gif" style="width:100%">
    <img class="mySlides w3-animate-top" src="assets/4.gif" style="width:100%">
    <img class="mySlides w3-animate-bottom" src="assets/5.gif" style="width:100%">
    <img class="mySlides w3-animate-bottom" src="assets/7.gif" style="width:100%">
    <img class="mySlides w3-animate-bottom" src="assets/8.gif" style="width:100%">
    <img class="mySlides w3-animate-bottom" src="assets/9.gif" style="width:100%">

</div>

<script>
    var myIndex = 0;
    carousel();

    function carousel() {
        var i;
        var x = document.getElementsByClassName("mySlides");
        for (i = 0; i < x.length; i++) {
            x[i].style.display = "none";
        }
        myIndex++;
        if (myIndex > x.length) {
            myIndex = 1
        }
        x[myIndex - 1].style.display = "block";
        setTimeout(carousel, 2500);
    }
</script>

<span>
<div class="row">
  <div class="large-4 small-4 columns">
    <button class="button" style="vertical-align:middle" ng-click="goToBikePart(forks)"><span>Forks</span></button>
    </div>
      </div>
      <div class="row">
  <div class="large-4 small-4 columns">
    <button class="button" style="vertical-align:middle" ng-click="goToBikePart(frames)"><span>Frames</span></button>
  </div>
  </div>
<div class="row">
      <div class="large-4 small-4 columns">
	<button class="button" style="vertical-align:middle" ng-click="goToBikePart(seats)"><span>Seats</span></button>
	</div>
</div>

<div class="row">
  <div class="large-4 small-4 columns">
    <button class="button" style="vertical-align:middle" ng-click="goToBikePart(handles)"><span>Handles</span></button>
  </div>
    </div>
    <div class="row">
  <div class="large-4 small-4 columns">
    <button class="button" style="vertical-align:middle" ng-click="goToBikePart(wheels)"><span>Wheels</span></button>
  </div>
  </div>
    <div class="row">
  <div class="large-4 small-4 columns">
    <button class="button" style="vertical-align:middle" ng-click="goToCustomBike()"><span>Custom Bikes</span></button>
  </div>
</div>

</span>
